<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--配置数据源,交给Spring去做-->

    <!--别名-->
    <typeAliases>
        <package name="com.haining820.pojo"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/haining820/dao/EmMapper.xml"/>
        <mapper resource="com/haining820/dao/ComMapper.xml"/>
        <mapper resource="com/haining820/dao/JobtypeMapper.xml"/>
        <mapper resource="com/haining820/dao/JobMapper.xml"/>
        <mapper resource="com/haining820/dao/ComjobMapper.xml"/>
        <mapper resource="com/haining820/dao/EmjobMapper.xml"/>
    </mappers>
</configuration>
